body {
  font-family: "Verdana", sans-serif;
  color: #808080;
  font-size: 16px;
}

.title-large {
  color: #fff;
  font-size: 48px;
  padding-bottom: 18px;
}

.title-medium {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 400;
}

.title-small {
  font-size: 20px;
  margin-bottom: 6px;
}

.text-center {
  text-align: center;
} 

@media (max-width: 645px) {
  .title-large {
    color: #fff;
    font-size: 28px;
    padding-bottom: 10px;
  }
}
